{% extends "layout.html" %}

{% block title %}
Twitter page
{% endblock %}

{% block content %}

<h1 class="text-center mt-4">Welcome to my twitter page.</h1>
<h2>
  {% if form.instance.pk %}
  Edit tweet
  {%else%}
  Create tweet
  {% endif %}
  <form class="form" method="post" enctype="multipart/form-data">
     {% csrf_token %} 
    {{ form.as_p }}
   <button class="btn btn-warning" type="submit">Submit</button>
  </form>
  <a href="{% url 'tweet_list' %}">Back to tweet list</a>
</h2>

{% endblock %}